body{
	background-color: white;
}

.navbar-inverse{
	background-color: #87cf25;
}

.gesuchotron{
    padding: 20px;
    border-radius: 5px;
    background: #eefaff; /*light blue*/
    margin-bottom: 5px;
}

.navbar-nav .open .dropdown-menu {
	background-color: #659c59;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #659c59;
}
.navbar-inverse .navbar-toggle {
	border-color: #659c59;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color: #266a21;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-text:focus {
        color: #ffe;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffe;
}

.pinned_note{
    color:#8ab;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-text:focus{
}

.supporter img{
    margin: 5px 0px;
   -moz-box-shadow:     5px 5px 5px #222;
   -webkit-box-shadow:  5px 5px 5px #222;
   box-shadow:          5px 5px 5px #222;
}

.comic_item_back{
        //background: url('/img/bg_items.png');
        background: url('/img/kachel_400g.png');
	background-color: #87cf25;
}
.smart_woman{
        background: url('/img/story_smart_woman.jpg');
}
.backpacker{
        background: url('/img/story_backpacker.jpg');
}
.laptop_woman{
        background: url('/img/story_laptop_woman.jpg');
}

.mini_story{
    height:500px;
    position:relative;
    background-size: cover;
    padding-left:0 !important;
}

.smart_woman{
    background-position: 52% 75%;
}

.backpacker{
    background-position: 20% 80%;
}

.laptop_woman{
    background-position: 28% 0%;
}

.mini_story > p {
    color: white;
    font-weight:bold;
    width: 100%;
    /*legacy browsers */
    background: #87cf25; 
    background: #87cf25aa;
    //background: #2579a9;
    //background: #2579a9aa;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding: 20px 0px;
    position: absolute;
    bottom: 10%;
}
.item_example{ border: 1px solid #40c104;background: white;}
.item_example > p { font-weight: bold !important; color: #87cf25; }
.header_link { font-weight: bold !important; }

.lending_concept{ border: 1px solid #29bfce;background:white; color:black; color:darkcyan; }
.lending_concept > h3 { font-weight: bold; color: #87cf25;}

.separator{ border-radius:5px; border-style:dashed;}

.carousel-control {border-radius:5px; bottom:30px;}
.jumbotron{

}

.footer {
   width: 100%;
   background-color: #87cf25;
   background-color: #2a88bd;
   color: white;
   padding-left: 0;
   margin-left: 0;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding: 0px 40px;
}

.front-btn{width: 187px;margin-bottom:5px; font-weight:bold;}

.giftbanner{
    border-radius: 0px;
    line-height: 0.5;
}

.category_lbl{
    border-radius: 0px 0px 5px 5px;
}

.btn-success{
    background-color:#87cf25;
}

.btn-primary{
    background-color: #3a859a;
}

.label-primary{
    background-color: #3a859a;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	background-color: #659c59;
}
